.statTitle{
    font-size: 26px;

    color: rgb(0, 82, 204);

}

.statOption{
    font-size:18px;
    font-weight:500;

    background-color: rgb(204, 224, 255);
}

.statCover {
    width:500px;
}

.feedback {
    font-size: 16px;
    font-weight: 700;

    color: rgb(0, 41, 102);
}